body {padding: 0px;
		margin: 0px;
		min-height: 200px;
	font-family: 'Lato', sans-serif;}


.container{
	min-width: 1000px;
	max-width: 100%;


}

.head img{
	height: 55px;
	display: block;
	max-width: 1200px;


}


.head{
	width: 100%;
	height: 100%;
}

.searchtop{background-color: #25323f;
	display: flex;
	text-align: center;
	min-width: 1000px;
		}


.text{
	flex: 3;
	color: snow;
}			


.logo img{
	height: 30px;
	width: 97px;
	margin:0 auto;
	padding-top: 14px;

}

.search{
	flex: 3;
	display: flex;
	padding-top: 5px;

}


.logo{
	flex: 1;
}

.search img{
	width: 40px;
	height: 30px;
	padding-top: : 10px;
}

.search *{
	width: 80%;
	height: 70%;
	vertical-align: bottom;


}

.nav{
	background-color: #25323f;
	min-width: 1000px;
	display: flex;
	text-align: center;
	width: 100%;
	padding-bottom: 15px;}


.text1{
	flex:1;
}	

.text2{
	flex:4;
	text-align: left;
	word-spacing: 5px;
}

.text2 a {text-decoration: none;}






.text3{
	flex:3;
}	

.nav *{color: snow;
}

.heroimage img{
	width: 100%;
	height: 300px;

}

.firstrow img{
	width: 200px;
	height: 200px;
}

.firstrow{
	padding: 0 15px;

}


.sidebar{
	width: 310px;
	padding-left: 20px;
}

.sidebar img{
	width: 264px;
	height: 350px;
	padding: 10px;
}

.sidebar #ad1{
	padding:0;
	height: 250px;
}

.main{
	display: flex;
	padding:5px 40px;
	flex-wrap: nowrap;
}


.secondrow{
	display: flex;
}

.secondrow figure {
	height: 275px;
	width: 200px;
	margin: 0;
	margin-right: 10px; 
}

.secondrow img{
	width: 200px;
	height: 200px;
}

.thirdrow{
	display: flex;
	height: 200px;
	padding: 10px;

}

.thirdrow img{
	width: 330px;
	height: 150px;
}

.fourthrow img{
	width: 100%;
}

.backtotop{
	background-color: #345;
	height: 19px;
	padding: 15px 0;
	text-align: center;
}

.backtotop a{
	color: snow;
	text-decoration: none;
}

.lists{
	background-color: #234;
	display:flex;
	justify-content: center;
	padding: 50px;

}


.lists *{
	color: snow;
	text-decoration: none;
	list-style-type: none;

}


@media (min-width: 600px;)